.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
}

.password-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  width: 80%;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .password-content {
    width: 80%;
    max-width: 2640px;
    align-items: flex-start;
  }
}

.logo-img {
  width: 100px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
}

.form-background-container {
  background-color: #5763a5;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form-background-container {
    flex-direction: row;
  }
}
.arrange-container {
  padding-left: 5px;
  padding-right: 5px;

  background-color: #ffffff;
  border-radius: 4px;
  width: 20%;
  align-items: center;
}
.arrange-container-search {
  padding-left: 2px;
  padding-right: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  align-items: center;
  width: 25%;
  height: 20%;
}
.form-container {
  background-color: #454f84;
  border-radius: 8px;
  padding: 20px;
  display: flex;

  justify-content: space-between;
  width: 50%;

  max-width: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-container {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
  }
}

.form-pass {
  display: flex;

  flex-direction: Column;

  order: 1;
}
@media screen and (min-width: 768px) {
  .form-pass {
    order: 0;
  }
}
.input-container {
  display: flex;
  margin-bottom: 20px;
}
.icon-img {
  width: 10px;
  height: 10px;
}
.input-text {
  border-radius: 4px;
  height: 30px;
  padding: 10px;
  border: 1px solid #b6c3ca;
}
.add-btn {
  background-color: #0b69ff;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 13px;
  align-self: flex-end;
  border: none;
  color: #ffffff;
}
.password-container {
  background-color: #5763a5;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 90%;
  max-width: 900px;
}
.search-container {
  display: flex;
  justify-content: space-between;
}
.password-txt {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
}
.count {
  color: #ffffff;
}

.icon-container {
  display: flex;
}
.hr-line {
  width: 100%;
  border: 1px solid #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
}
.checkbox-input {
  border-radius: 6px;
  background-color: #ffffff;

  margin-right: 6px;
  border: none;
}
.input-search {
  background-color: #ffffff;
  border: none;
  height: 30px;
  outline: none;
  cursor: pointer;
}
.icon-img-search {
  height: 30px;
  width: 30px;

  background-color: #ffffff;
  border: none;
  outline: none;
}

.label {
  height: 40px;
  color: #ffffff;
  font-weight: 800;
  font-size: 13px;
  font-family: 'Roboto';
}
.no-password-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-password-img {
  width: 280px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .no-password-img {
    width: 320px;
    height: 300px;
  }
}

.no-password-txt {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 800;
}
.password-list {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

.password-img {
  height: 250px;
  width: 250px;
  order: 0;
}

@media screen and (min-width: 768px) {
  .password-img {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .d-none {
    display: none;
  }
}
